<ul>
  <% @applicants.each do |a| %>
    <li>
      User: <%= a.user.name %>
    </li>
    <li>
      <a class="button" <%= link_to(a.job.task_title, applicant_path( a )) %>
    </li>
    <li>
      Quote: <%= a.quote %>
    </li>
    <li>
      Description: <%= a.description %>
    </li>
    <br>
  <% end %>
</ul>
