<body>
  <div class="container">
    <!-- Page Content goes here -->


<ul>
  <% @jobs.each do |a| %>
    <li>
        <p>Job Title: <%= link_to( a.task_title, "/jobs/#{a.id}" ) %></p>
        <p><%= image_tag( a.images ) %></p>
        <p>Task Location: <%= a.task_location %></p>
        <p>Budget: <%= "$#{a.budget}" %></p>
    </li>
  <% end %>
</ul>
</div>
</body>
