<h5>See all ratings</h5>



<ul>
  <% @ratings.each do |a| %>
    <li>
        <p>User: <%= a.user.name %></p>
        <p>Rating: <%= a.score %></p>
        <p>Review: <%= a.body %></p>
    </li>
  <% end %>
</ul>
